<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avisos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen a pantalla completa -->
  <div class="image-display">
    <img [src]="currentImage" alt="Imagen actual" />
  </div>
   <!-- Barra de progreso en la parte inferior -->
   <div class="progress-bar-container">
    <ion-progress-bar [value]="progress / 100"></ion-progress-bar>
  </div>

  <!-- Porcentaje centrado en el medio de la pantalla -->
  <div class="progress-percentage">
    <p style="display: flex; justify-content: center;">{{ progress | number: '1.0-0' }}%</p>
  </div>
</ion-content>