<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Promociones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Promociones</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estamos trabajando para brindarte las mejores Promociones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Vuelve pronto esta página está en construcción
    </ion-card-content>
  </ion-card>
</ion-content>